* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html,
  body {
    background: #2b2c3a;
    mix-blend-mode: normal;
    height: 100%;

  }
  .sidebar {
    position: fixed;
    width: 20%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(156, 165, 236, 0.04);
    
  }
  .header {
    margin-left: 20%;
    position: fixed;
    width: 80%;
    height: 8.8%;
    top: 0;
    right: 0;
    z-index: 10;
    
    background: #2b2c3a;
  }
  .content {
    width: 80%;
    /* height: 100%; */
    margin-top: 5%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    z-index: 5;

  }

  /*--------------------------SIDEBAR---------------------------*/
  .sidebar_header{
    display: flex;
    align-items: center;
    height: 8.8%;
    width: 100%;
    padding-left: 10%;
  }
  .sidebar_logo{
    display: flex;
    flex-direction: column;
  }
  .sidebar_logo_header{
    display: flex;
    justify-content: space-between;
  }
  .sidebar_logo_header_year{
    display: flex;
    align-items: center;
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10.7331px;
    line-height: 16px;
    color: #FFFFFF;
  }
  .sidebar_logo_text{
    display: flex;
    vertical-align: bottom;
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22.1818px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: -4px;
  }
  .sidebar_nav{
    width: 100%;
    margin-top: 30px;
  }
  .sidebar_nav_link, .chka{
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    padding: 8px 10.7%;
    justify-content: space-between;
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #ffffff;
  }
  .sidebar_nav{
    margin-bottom: 20px;
  }
  input[type="checkbox"].sidebar_nav_btn{
    display: none;
  }
  .sidebar_nav_btn ~ div{
    display: none;
  }
  .sidebar_nav_btn:checked ~ div{
    display: block !important;
    
  }
  .sidebar_nav_level--2 div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
    
    text-decoration: none;
    width: 100%;
  }
  .sidebar_nav_level--2 > div a{
    text-decoration: none;
    display: flex;
    
    width: 100%;
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
    color: rgb(255,255,255,0.5);
    align-items: center;
  }
  .sidebar_nav_level--2 div a > img{
    margin-left: 53px;
    margin-right: 24px;
  }
  .sidebar_nav_level--2 > div a:hover{
    background: #343647;
  }
  .sidebar_nav_level--2 > div a:active{
    width: 100%;
    background-color: #6f6eff;
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
  }
  .sidebar_nav_level--2 > div a:before {
    content: "";
    display: inline-block;
    height: 42px;
    vertical-align: middle;
  }
  .sidebar_nav_level--2 > div a:hover::before {
    width: 3px;
    background-color: #6f6eff;
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
  }
  #sidebar_nav_active{
    background: #343647;
    color: rgb(255,255,255,1);
    mix-blend-mode: normal;
  }
  #sidebar_nav_active::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 42px;
    vertical-align: middle;
    background-color: #6f6eff;
  }
  .switcher {
    display: flex;
    justify-content: space-between;
    align-self: center;
    
    position: fixed;
    bottom: 31px;
    left: 2.15%;
    /* width: 100%; */
    top: auto;
    /* right: auto; */
    height: 24px;
    width: 15%;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
  }
  .switcher .switcher_text {
    display: flex;
    align-items: center;
    opacity: 0.5;
    letter-spacing: normal;
    height: 22px;
    float: left;
    font-family: 'Jost',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
    color: rgb(255,255,255,0.5);
  }
  .switch input {
    display: none;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(156, 165, 236, 0.04);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 1px solid #ffffff;
    border-radius: 15px;
    opacity: 0.2;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    top: 3px;
    background: #6f6eff;
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  .switcher input:checked + .slider {
    background-color: rgba(156, 165, 236, 0.04);
    opacity: 1;
  }
  .switche input:focus + .slider {
    box-shadow: 0 0 1px rgba(156, 165, 236, 0.04);
  }
  .switcher input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  /*--------------------------HEADER---------------------------*/
  .header_content{
    display: flex;
    justify-content: space-between;
    margin-left: 3.8%;
    margin-right: 3.125%;
    height: 100%;
    align-items: center;
    

  }
  .header_content_left{
    display: flex;
    justify-content: space-between;
    width: 22%;
    height: 100%;
    align-items: center;
  }
  .header_content_left > div{
      margin-right: 8%;
  }
  .header_content_left > div:last-child{
      margin-right: 0%;
  }
  .header_content_left_link{
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
  .header_content_left_line{
      width: 2px;
      height: 33%;
      background: #D8D8D8;
        mix-blend-mode: normal;
        opacity: 0.1;
  }
  .header_content_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47.5%;
    height: 100%;
  }
  .header_content_right_statistics{
    display: flex;
    justify-content: space-between;
    width: 59.2%;
    height: 33%;
    
  }
  .header_statistics_hours,
  .header_statistics_lections,
  .header_statistics_homework {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255, 0.06);
    border-radius: 5px;
    font-family: "Jost";
    font-style: normal;
    font-size: 13px;
    line-height: 10px;
    color: #ffffff;
  }
  .header_statistics_homework,
  .header_statistics_lections{
    margin-right: 3.3%;
  }
  .header_statistics_homework{
      width: 32%;
  }
  .header_statistics_lections{
      width: 27%;
  }
  .header_statistics_hours{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    width: 34%;
    padding-left: 1.5%;
    padding-right: 3%;
  }
  .header_statistics_hours_background_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.4%;
    height: 75%;
    background-color: #ff4738;
    box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
    border-radius: 4px;
    margin-right: 5.5%;
    
    }
  .header_statistics_hours_number{
    margin-right: 4%;
  }
  .header_content_right_account{
    display: flex;
    justify-content: space-between;
    width: 37.7%;
    height: 100%;
    align-items: center;
  }
  .header_account_inf_status {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-right: 37px;
    
    left: 8px;
  }
  .header_account_inf_status_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #24cb8d;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin-right: 5px;
    margin-top: 2px;
  }
  .header_account_inf_status_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 10px;
    color: #24cb8d;
  }
  .header_account_inf_name {
    margin-bottom: 10%;
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
    color: #ffffff;
  }
  .header_account_version {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    border-radius: 4px;
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 10px;
    color: #ffffff;
    height: 19.7%;
    width: 21%;
    margin-bottom: 7.7%;
  }
  .line{
    width: 100%;
    height: 2px;
    background: #D8D8D8;
    mix-blend-mode: normal;
    opacity: 0.1;
  }

/*------------------------------CONTENT---------------------------------*/
  .content > div {
    width: 90%;
    height: 48vh;
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  .content > div:first-child {
    margin-top: 40px;
  }
  .content > div:last-child {
    margin-top: 60px;
    margin-bottom:40px;
  }
  .content_section_header {
    display: flex;
    justify-content: space-between;
    height: 18%;
    width: 100%;
  }
  .content_section_items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 82%;
  }
  .content_sections_item {
    width: 24%;
    height: 100%;
    background: rgb(255, 255, 255, 0.04);
    border-radius: 6px;
    transition: 0.5s;
  }
  .content_sections_item:hover{
    transition: 0.5s;
    transform: scale(1.02);
    z-index: 5;
  }
  .content_sections_item_img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 49%;
    border-radius: 6px 6px 0 0;
  }
  /* .content_sections_item_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 0 0;
  } */

  .content_sections_item_text {
    width: 100%;
    height: 30%;
    padding-top: 5%;
    /* padding-bottom: 46px; */
    padding-left: 5.8%;
  }
  .content_sections_item_text_header,
  .content_sections_item_text_subtext,
  .content_sections_item_bottom_year {
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 12px;
    color: #ffffff;
  }
  .content_sections_item_text_subtext {
    mix-blend-mode: normal;
    color: rgb(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 18px;
    margin-top: 4.5%;
  }
  .content_sections_item_bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20.7%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .content_section_header_right {
    display: flex;
    justify-content: space-between;
    width: 15%;
  }
  .btn_in_content, .content_sections_item_img_icon, .btn_in_content_header {
    height: 50%;
    width: 35%;
    background: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
    border-radius: 4px;
    border: 0px;
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px; 
    line-height: 12px;
    color: #ffffff;
    align-self: center;
  }
  .btn_in_content_header{
    width: 53%;
  }
  .content_sections_item_img_icon{
    display: flex;
    width: 19%;
    height: 15%;
    font-size: 12px;
    align-self: flex-start;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%;
    padding: 2% 1.5%;
  }
  .content_sections_item_bottom_year {
    font-size: 13px;
    line-height: 10px;
    align-self: center;
  }
  .btn_in_content_arrow {
    height: 47%;
    width: 18.6%;
    border: 2px solid rgb(255, 255, 255, 0.15);
    border-radius: 4px;
    background: #2b2c3a;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
  }
  .btn_in_content_arrow:hover {
    background: #343647;
  }
  .btn_in_content_arrow:active {
    background: #6f6eff;
  }
  .arrow {
    width: 20%;
    height: 30%;
    margin-top: 2px;
  }
  .content_section_header_right > button {
    align-self: flex-start;
    margin-top: 8%;
  }
  .content_section_header_left_subtext,
  .content_section_header_left_text {
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.4);
    mix-blend-mode: normal;
    /* opacity: 0.4; */
  }
  .content_section_header_left_text {
    color: #ffffff;
    font-size: 22px;
    line-height: 18px;
    margin-top: 7%;
  }
  ::-webkit-scrollbar-thumb { 
    border-radius: 2px;
    background-color: #6b69f9;
  }
  ::-webkit-scrollbar { 
    width: 5px;
    background-color: #FFFFFF;
  }